<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main>
      <h2>Admin page</h2>
      <div class="admin-content row">
        <div class="col-lg-6 mt-4">
          <div>
            <h2>
              Seeds <span class="badge bg-secondary"><%= seeds.length %></span>
            </h2>
            <ul class="text-dark list-group text-center" id="seeds-list">
              <% function deleteSeed() { window.alert("deleted")}
              seeds.forEach((seed) => { %>
              <li class="list-group-item">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="<%= seed.key %>"
                    id="<%= seed.key %>"
                  />
                  <label class="form-check-label" for="<%= seed.key %>">
                    <%= seed.key %>
                  </label>
                </div>
              </li>
              <% }); %>
            </ul>
            <div>
              <button
                id="addSeedBtn"
                type="button"
                class="btn btn-success mt-3 me-2"
              >
                Add new
              </button>
              <Button
                id="deleteSeedBtn"
                type="button"
                class="btn btn-danger mt-3"
                >Delete</Button
              >
            </div>
          </div>
          <div class="text-center mt-4">
            <div id="add-seed-form-container" class="col-12">
              <h2>Add seed</h2>
              <form action="/seeds" id="add-seed-form" method="post">
                <div>
                  <input
                    type="text"
                    class="form-control text-center"
                    name="name"
                    id="name"
                    placeholder="Name - example: 'Broccoli'"
                  />
                </div>
                <div class="mt-3">
                  <input
                    type="text"
                    class="form-control text-center"
                    name="gelatinous"
                    id="gelatinous"
                    placeholder="Gelatinous - example: 'Yes' or 'No'"
                  />
                </div>
                <div class="mt-3">
                  <input
                    type="number"
                    class="form-control text-center"
                    name="gramsPerJar"
                    id="gramsPerJar"
                    placeholder="Grams per jar - example: '30'"
                  />
                </div>
                <div class="mt-3">
                  <input
                    type="text"
                    class="form-control text-center"
                    name="growTime"
                    id="growTime"
                    placeholder="Grow time - example: '4-5 days'"
                  />
                </div>
                <div class="mt-3">
                  <input
                    type="text"
                    class="form-control text-center"
                    name="soakTime"
                    id="soakTime"
                    placeholder="Soak time - example: '8-10 hours'"
                  />
                </div>
                <div class="mt-3 row">
                  <div class="offset-sm-2 col-sm-8">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      id="addSeedBtn"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <h2>
            Users <span class="badge bg-secondary"><%= users.length %></span>
          </h2>

          <ul class="text-dark text-center list-group" id="users-list">
            <% users.forEach((user) => { %>
            <li class="list-group-item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="<%= user.key %>"
                  id="<%= user.key %>"
                />
                <label class="form-check-label" for="<%= user.key %>">
                  <%= user.key + " | " + user.updated + " | " + "POST/jars: " +
                  user.postRequests + " | " + user.country%>
                </label>
              </div>
            </li>
            <% }); %>
          </ul>
          <div>
            <Button id="deleteUserBtn" type="button" class="btn btn-danger mt-3"
              >Delete</Button
            >
          </div>
        </div>
      </div>
    </main>
    <script src="/javascripts/admin.js" defer></script>
  </body>
</html>
